<div class="col-3 p-4">
    <div class="sticky-top">
        <div class="d-flex flex-column justify-content-between">
            <img class="img-fluid py-3" src="./images/neon-light.JPG">
            <img class="img-fluid" src="./images/neon-light.JPG">
        </div>
    </div>
</div>